<!-- <p>address works!</p> -->
<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                Bangalore
            </div>
            <div class="card-body">
                <h5 class="card-title">Contact Num</h5>
               <h5 class="card-title"> Near Traffic Police Station, Bangalore</h5>
                <p class="card-text">040 4200 7777</p>
                <a href="#" class="btn btn-primary">Book Demo Class</a>
            </div>
            <div class="card-footer text-muted">
                Online/Offline classes
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                Hyderabad
            </div>
            <div class="card-body">
                <h5 class="card-title">Contact Num</h5>
                <h5 class="card-title">Near JNTUH University, KPHB</h5>
                <p class="card-text">040 4200 888</p>
                <a href="#" class="btn btn-primary">Book Demo Class</a>
            </div>
            <div class="card-footer text-muted">
                Online classes Only
            </div>
        </div>
    </div>
</div>